# IDE and Python related files
.idea
.venv
*.iml
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# AI
.claude
!.claude/settings.json

# Project files
.env
.workspace/
*.db
*.db-journal
sandbox/
app/workspace/
logs/
secrets.txt
