aiosqlite>=0.21
langfuse>=2.0
alembic>=1.15
fastapi>=0.115
dotenv
httpx
instructor
openai>=1.70
pipreqs
pydantic>=2.10
pydantic-settings>=2.7
python-dotenv
pyyaml>=6.0
sqlalchemy[asyncio]>=2.0
uvicorn[standard]>=0.34
loguru>=0.7
